<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <style>
  body{
      font-family: "Roboto", sans-serif;
      background-color: #ede4e7;
      color: rgb(8, 2, 2);
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0;
      height: 100vh;
  }
  .container{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f7eff1;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
   text-align: center;
   
   
  }
  </style>
  <div class="container">
    <h1>Welcome</h1>
    <p>You are the best</p>
  </div>
</body>
</html>